/*===========================Common CSS*/
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
/*===========================Common CSS*/

/*=========================================
Navbar CSS-Start
===========================================*/
nav{
    background-color: #1C1E53;
}

.navbar-nav{
    column-gap: 32px;
}
.nav-link{
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 16px;
    font-weight: 500;
    color: #BBBBCB;
    font-family: "Poppins", sans-serif;
    transition: .5s;

}
.nav-item:hover .nav-link{
    color: #ffff;

}
.nav-btn{
    background: #FCD980;
    padding: 16px 48px;
    border-radius: 41px;
    border: 1px solid rgba(244, 246, 252,0.20);
    font-size: 16px;
    color: #ffff;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-left: 48px;
  
} 

.nav-btn:hover{
    border-color: #1C1E53;
    background: transparent;
    color: #FCD980;

}

/*=========================================
Navbar CSS-End
===========================================*/

/*=========================================
Banner CSS-Start
===========================================*/
.banner{
    background: #1C1E53;
    padding: 128px 0px;
}
.banner h1{
    font-size: 54px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #ffff;
    line-height: 74px;

}
.banner p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, .70);
    line-height: 28px;
    width: 558px;
    padding-top: 16px;


}
.banner-btn{
     background: #FCD980;
    padding: 16px 56px;
    border-radius: 41px;
    border: 1px solid transparent;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: 1s;
    display: inline-block;
    margin-top: 38px;

    

}
.banner-btn:hover{
    border-color: #1C1E53;
    background: transparent;
    color: #FCD980;

}

/*=========================================
Banner CSS-End
===========================================*/

